* {
    margin: 0px;
    padding: 0px;
}

#encabezado{
    background: url(../img/hero01.png);
    height: 400px;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

ul{
    text-decoration: none;
    list-style: none;
   
}

#nav-principal  li{
    padding: 15px 10px 0px 10px;
    display: inline-block;
}

#encabezado-derecha{
    float:right;
}

#menu-activo{
    border: 1px solid #000000;
    padding: 10px;
}

.menu:hover{
    border: 1px solid #000000;
    padding: 10px;
}

#contenedor{
    float: left;
    width: 100%;
    box-sizing: border-box;

}

#articulo-izquierda{
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    background: #999999;
    margin: auto;
    
}

#articulo-centro{
    float:left;
    width: 33.33%;
    box-sizing: border-box;
    background: #999999;
    margin: auto;
    
}

#articulo-derecha{
    float:left;
    width:33.33%;
    box-sizing: border-box;
    background: #999999;
    margin: auto;
    
}

h2{
    font: Georgia;
    color: black;
}

@media(max-width: 480px){

	#articulo-izquierda{
        float: none;
       
        
    }
    
    #articulo-centro{
        float: none;
        
    }
    
    #articulo-derecha{
        float: none;
        
    }

        
    #nav-principal  li{
        
        display: block;
    }

    #encabezado{
        background: url(../img/hero01_480.png) no-repeat;
        height: 200px;
        max-width: 100%;
    }

    h2{
        font-size: 20px;
    }

}