#encabezado{
    background: url(../img/hero01.png);
    height: 400px;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    text-decoration: none;
    list-style: none;
   
}

#nav-principal  li{
    padding: 15px 10px 0px 10px;
    display: inline-block;
}